---
layout: default
title: Browse recipes
---

<section class="container-fluid">
  <div class="masonry">
    {% for post in site.posts %} {% assign cuisine = site.cuisines | where:
    "short_name", post.cuisine | first %}
    <div class="card masonry__item">
      <a href="{{ post.url | relative_url }}">
        <article>
          {% if post.image %}
            <div class="card__image">
              <img
                src="{{ post.image | prepend: site.baseurl }}"
                alt="{{ post.title | strip_html }}"
                title="{{ post.title }}"
              />
            </div>
          {% endif %}
          <header class="card__header">            
            <div class="card__meta">
              <div class="pills">
                {% if cuisine.name %}
                <span style="color: #{{ cuisine.color }}"
                  >{{ cuisine.name }}</span
                >
                {% endif %} {% if post.tags %} {% for tag in post.tags %}
                <span>{{ tag | capitalize }}</span>
                {% endfor %} {% endif %}
              </div>
            </div>
            <div class="card__title">
              {% comment %}
              Prevent orphaned words in titles
              {% endcomment %}
              {% assign words = post.title | split: " " %} {% assign last_word_index
              = words | size | minus: 1 %} {% assign words_except_last = words |
              slice: 0, last_word_index %} {% assign last_word = words | last %}
              <h2>{{ words_except_last | join: " " | strip_html }}&nbsp;{{ last_word }}</h2>
            </div>
          </header>
          <div class="card__content">
            <p>{{ post.excerpt }}</p>
          </div>
        </article>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
