body {
  > nav {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.5s cubic-bezier(1, 0.01, 0.21, 0.99);
    box-shadow: 0 1px 0 var(--muted-border-color);

    &.hidden {
      transform: translateY(-100%);
    }
  }
}

main {
  margin-top: calc((var(--nav-element-spacing-vertical) * 2) + calc(var(--font-size) * 1.5));
}

article {
  > span {
    display: inline-block;
    margin-bottom: calc(var(--typography-spacing-vertical) / 4);
  }

  > h2 {
    margin-bottom: calc(var(--typography-spacing-vertical) / 4);
  }

  > *:last-child {
    margin-bottom: 0.5rem;
  }
}
