html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

ul {
  padding-inline-start: calc((var(--spacing)) * 1.33);
}

ol {
  padding-inline-start: calc((var(--spacing)) * 2);
}

b, strong {
  font-weight: 600;
}

main {

  p {
    
    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 1.5rem;
    }
  }
}

/* page transition */

#transition-wrapper {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  opacity: 0;
  transform: translate3d(10%, 0, 0);
}

.fade-out #transition-wrapper {
  opacity: 0;
  transform: translate3d(10%, 0, 0);
  transition: transform 0.6s cubic-bezier(0.78, 0, 0, 0.98),
    opacity 0.2s linear 0.2s;
}

.current-page #transition-wrapper {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s cubic-bezier(0.78, 0, 0, 0.98) 0.1s,
    opacity 0.1s linear 0.1s;
}

/* dark-mode toggle */

.switcher {
  position: fixed;
  z-index: 1000;
  right: calc(var(--spacing) / 2 + var(--scrollbar-width, 0px));
  bottom: var(--spacing);
  width: auto;
  margin-bottom: 0;
  padding: 0.75rem;
  border-radius: 2rem;
  box-shadow: var(--card-box-shadow);
  line-height: 1;
  text-align: right;

  @media (min-width: 576px) {
    right: calc(var(--spacing) + var(--scrollbar-width, 0px));
  }

  &::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid currentColor;
    border-radius: 50%;
    background: linear-gradient(
      to right,
      currentColor 0,
      currentColor 50%,
      transparent 50%
    );
    content: "";
    vertical-align: bottom;
    transition: transform var(--transition);
  }

  i {
    display: inline-block;
    max-width: 0;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
    font-style: normal;
    font-size: 0.875rem;
    white-space: nowrap;
    vertical-align: middle;
  }

  &:focus,
  &:hover {
    max-width: 100%;
    transition: background-color var(--transition),
      border-color var(--transition), color var(--transition),
      box-shadow var(--transition);
    box-shadow: var(--card-box-shadow), 0 0 0 0.2rem var(--secondary-focus);
  }

  &:hover::after {
    transform: rotate(180deg);
  }

  &:hover i {
    max-width: 100%;
    padding: 0 calc(var(--spacing) / 2) 0 calc(var(--spacing) / 4);
    transition: max-width var(--transition), padding var(--transition);
  }
}

/* navigaiton */

.modal-is-open {
  pointer-events: auto;
}

#mobileNav {
  padding: 0;  
  z-index: 99;
  align-items: start;

  @media screen and (min-width: 576px) {
    display: none;
  }

  article {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
    max-height: none;
  }

  .mobileNav__items {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--nav-element-spacing-vertical)*2 + var(--font-size)*1.5);
  }

  .mobileNav__item {
    margin: 0;
    text-align: center;
    border-bottom: solid 1px var(--muted-border-color);
  }
}

body.fade-out #nav.hidden {
  transform: translateY(0);
  transition: transform 0.1s cubic-bezier(1, 0.01, 0.21, 0.99);
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0;
  transition: transform 0.5s cubic-bezier(1, 0.01, 0.21, 0.99);

  &.hidden {
    transform: translateY(-100%);
  }

  nav {
    background-color: var(--background-color);
    box-shadow: 0 1px 0 var(--muted-border-color);
    justify-content: space-between;
  }

  nav a {
    border-radius: 0;
  }

  nav,
  nav ul {
    display: flex;
  }

  nav ol,
  nav ul {
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }

  nav ol:first-of-type,
  nav ul:first-of-type {
    margin-left: calc(var(--nav-element-spacing-horizontal) * -1);
  }

  nav ol:last-of-type,
  nav ul:last-of-type {
    margin-right: calc(var(--nav-element-spacing-horizontal) * -1);
  }

  nav li {
    display: inline-block;
    margin: 0;
    padding: var(--nav-element-spacing-vertical)
      var(--nav-element-spacing-horizontal);
  }

  nav li > * {
    --spacing: 0;
  }

  nav :where(a, [role="link"]) {
    display: inline-block;
    margin: calc(var(--nav-link-spacing-vertical) * -1)
      calc(var(--nav-link-spacing-horizontal) * -1);
    padding: var(--nav-link-spacing-vertical) var(--nav-link-spacing-horizontal);
    border-radius: var(--border-radius);
    text-decoration: none;
  }

  nav :where(a, [role="link"]):is([aria-current], :hover, :active, :focus) {
    text-decoration: none;
  }

  nav[aria-label="breadcrumb"] {
    align-items: center;
    justify-content: start;
  }

  nav[aria-label="breadcrumb"] ul li:not(:first-child) {
    -webkit-margin-start: var(--nav-link-spacing-horizontal);
    margin-inline-start: var(--nav-link-spacing-horizontal);
  }

  nav[aria-label="breadcrumb"] ul li:not(:last-child) ::after {
    position: absolute;
    width: calc(var(--nav-link-spacing-horizontal) * 2);
    -webkit-margin-start: calc(var(--nav-link-spacing-horizontal) / 2);
    margin-inline-start: calc(var(--nav-link-spacing-horizontal) / 2);
    content: "/";
    color: var(--muted-color);
    text-align: center;
  }

  nav[aria-label="breadcrumb"] a[aria-current] {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    pointer-events: none;
  }

  .nav__toggle {

    @media screen and (min-width: 576px) {
      display: none;
    }

    a {
      cursor: pointer;

      svg {
        display: inline-block;
        width: 24px;
        height: 24px;
        position: relative;
        top: -1px;
      }
    }
  }

  .nav__brand {

    @media screen and (min-width: 576px) {
      margin-left: calc(var(--nav-element-spacing-horizontal)*-1);
    }
  }

  .nav__items {
    margin-left: auto;

    @media screen and (max-width: 575px) {
      display: none;
    }
  }

  .nav__search {
    svg {
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }
}

/* content */

main {
  padding-top: calc(
    (var(--nav-element-spacing-vertical) * 2) + calc(var(--font-size) * 1.5)
  );
  margin: 0;

  section {
    header {
      padding-top: 0;
      padding-bottom: var(--block-spacing-vertical);

      @media screen and (min-width: 576px) {
        padding-bottom: calc(var(--block-spacing-vertical) / 2);
      }      

      h1 {
        margin-bottom: 0;
      }

      > *:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  article {
    margin: calc(var(--block-spacing-vertical) / 2) 0;
    padding: calc(var(--block-spacing-vertical) / 2)
      var(--block-spacing-horizontal);

    h2 {
      margin-bottom: 0;
    }

    p {
      color: var(--contrast);
    }

    > *:last-child {
      margin-bottom: 0.5rem;
    }
  }
}

.meta {
  margin-bottom: calc(var(--block-spacing-vertical) / 4);

  small {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0;

    a {
      background-color: var(--primary);
      color: var(--primary-inverse);
      padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
      border-radius: var(--border-radius);
      text-decoration: none;
    }
  }
}

.card {
  a {
    text-decoration: none;

    &:hover,
    &:focus {
    }
  }

  article {
    margin-top: 0;
  }
}

footer,
header,
main > section {
  --block-spacing-vertical: 2rem;
  margin: 0;
  padding: var(--block-spacing-vertical) 0;
}
@media (min-width: 576px) {
  footer,
  header,
  main > section {
    --block-spacing-vertical: 3rem;
  }
}
@media (min-width: 768px) {
  footer,
  header,
  main > section {
    --block-spacing-vertical: 4rem;
  }
}
@media (min-width: 992px) {
  footer,
  header,
  main > section {
    --block-spacing-vertical: 6rem;
    --demo-height: calc(9rem + 488px);
  }
}
@media (min-width: 1200px) {
  footer,
  header,
  main > section {
    --block-spacing-vertical: 7rem;
    --demo-height: calc(10.5rem + 540px);
  }
}

/* footer */

footer {
  background-color: var(--background-color);
}
