// .current-page .card.animate {
//   opacity: 1;
//   transform: none;
//   transition-delay: 0.1s;
// }

// .fade-out .card {
//   transform: none;
// }

.card {
  // opacity: 0;
  // transform: translateX(50px);
  // transition: opacity 0.3s ease-out, transform 0.3s ease-out;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
    }
  }

  article {
    margin-top: 0;
  }

  header {
    padding: 0;
    margin: 0.25rem 0 0 0;
    background-color: transparent;
    border: none;

    > * {    
      margin: 0;
      padding: 0;
    }
  }
}

.card__image {
  margin-top: calc((var(--block-spacing-vertical) / 2) * -1);
  margin-left: calc(var(--block-spacing-horizontal) * -1);
  margin-right: calc(var(--block-spacing-horizontal) * -1);
  margin-bottom: calc(var(--block-spacing-vertical) / 2);
  aspect-ratio: 4 / 3;

  img {
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 75%
  }
}

.card__header {

  &.contrast {

    h2 {
      color: var(--primary-inverse);
    }

    .card__count {
      background-color: var(--primary-inverse);
      color: var(--black);
    }
  }

  .card__title {
    display: flex;
    justify-content: space-between;
  
    > * {    
      margin: 0;
      padding: 0;
    }
  }
  
  .card__count {
    align-self: flex-start;
    border-radius: 50%;
    font-size: var(--font-size);
    line-height: 2em;
    width: calc(var(--font-size) * 2);
    text-align: center;
    background-color: var(--primary);
    color: var(--primary-inverse);
  }
}

.card__content {
  margin-top: calc(var(--block-spacing-vertical) * 0.125);

  &.contrast {

    p {
      color: var(--primary-inverse);
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }
}