.pills {
  font-size: 0;
  margin-bottom: calc(var(--typography-spacing-vertical) * 0.5);

  > * {
    font-size: calc(var(--font-size) * 0.75);
    text-transform: capitalize;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  a {
    display: inline-block;
    background-color: var(--primary);
    color: var(--primary-inverse);
    padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
    border: solid 1px var(--primary);
    border-radius: var(--border-radius);
    text-decoration: none;
  }

  span {
    display: inline-block;
    background-color: var(--pill-background-color);
    color: var(--primary);
    padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
    border: solid 1px var(--muted-border-color);
    border-radius: var(--border-radius);
    text-decoration: none;
  }
}