.pills {
  font-size: 0;
  margin-bottom: calc(var(--typography-spacing-vertical) * 0.125);

  > * {
    font-size: calc(var(--font-size) * 0.75);
    text-transform: capitalize;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  a, span {
    display: inline-block;
    padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
    margin-bottom: calc(var(--spacing)/2);
    border: solid 1px;
    border-radius: var(--border-radius);
    text-decoration: none;
  }
  
  a {
    background-color: var(--primary);
    color: var(--primary-inverse);
    border-color: var(--primary);
  }
  
  span {
    background-color: var(--pill-background-color);
    color: var(--primary);
    border-color: var(--muted-border-color);
  }  
}