.nav--hidden {
  #search-form {
    .form__input {
      top: 0;
      transition: transform 0.2s cubic-bezier(1, 0.01, 0.21, 0.99);
    }
  }
}

#search-form {
  .form__input {
    position: sticky;
    top: calc(
      (var(--nav-element-spacing-vertical) * 2) + calc(var(--font-size) * 1.5)
    );
    z-index: 2;
    margin: 0 -1rem;
    padding: 1rem;
     
    
    &.stuck {
      backdrop-filter: var(--modal-overlay-backdrop-filter);
      background-color: var(--modal-overlay-background-color);
      margin: 0 -1rem;
      transition: all 0.2s cubic-bezier(1, 0.01, 0.21, 0.99);

      @media screen and (min-width: 1200px) {
        margin: 0;
      }
    }
  }
}

.form__elements {
  position: relative;
  height: 100%;
}

#search-input {
  box-shadow: var(--card-box-shadow);
  margin: 0;
}

#search-results {
  .card {
    article {
      margin: calc(var(--block-spacing-vertical) / 4) 0;
    }
  }

  .meta {
    text-transform: capitalize;
  }
}
