---
layout: default
---

<section class="container">
  <header>
    <h1>{{ page.name }}</h1>
    {{ content }}
  </header>

  {% assign filtered_posts = site.posts | where: 'cuisine', page.short_name %}
  {% for post in filtered_posts %}
  <div class="card">
    <a href="{{ post.url | relative_url }}">
      <article>
        <div class="meta">
          {% assign cuisine = site.cuisines | where: 'short_name', post.cuisine
          | first %} {% if cuisine %}
          <small>
            <span style="color: #{{ cuisine.color }}">{{ cuisine.name }}</span>
          </small>
          {% endif %} {% if post.tags %} {% for tag in post.tags %}
          <small>
            <span>{{ tag }}</span>
          </small>
          {% endfor %} {% endif %}
        </div>
        <h2>{{- post.title -}}</h2>
        <p>{{ post.excerpt }}</p>
      </article>
    </a>
  </div>
  {% endfor %}
</section>
