---
layout: default
---

<section class="container">
  <header>
    <h1>Cuisine: {{ page.name }}</h1>
  </header>

  {% assign filtered_posts = site.posts | where: 'cuisine', page.short_name %}
  {% for post in filtered_posts %}
  <div class="card">
    <a href="{{ post.url | relative_url }}">
      <article>
        <header class="card__header">
          <div class="card__meta">
            <div class="pills">
              {% assign cuisine = site.cuisines | where: 'short_name', post.cuisine
              | first %} {% if cuisine %}
                <span style="color: #{{ cuisine.color }}">{{ cuisine.name }}</span>
                {% endif %} {% if post.tags %} {% for tag in post.tags %}
                <span>{{ tag | capitalize }}</span>
                {% endfor %} {% endif %}
            </div>
          </div>
          <div class="card__title">
            <h2>{{- post.title -}}</h2>
        </header>
        <div class="card__content">
          <p>{{ post.excerpt }}</p>
        </div>
      </article>
    </a>
  </div>
  {% endfor %}
</section>
