---
layout: default
---

{% assign cuisine = site.cuisines | where: 'short_name', page.cuisine | first %}
{% if cuisine %}
<div class="meta">
  <small>
    <a href="{{ cuisine.url | relative_url }}">{{ cuisine.name }}</a>
  </small>
</div>    
{% endif %}

<h1>{{ page.title }}</h1>

<!-- <p>
  {{ page.date | date_to_string }} -  
</p> -->

<div class="recipe">
  <article class="ingredients">
    <h4>Ingredients</h4>
    {{ site.data.ingredient }}
  </article>
  <article class="method">
    <h4>Method</h4>
    {{ site.data.method }}
  </article>
</div>