---
layout: default
---

<section class="recipe">

  <header class="recipe__header grid">
    <div class="recipe__description">
      <div class="container">
       
        <div class="meta">
          {% assign cuisine = site.cuisines | where: 'short_name', page.cuisine | first %}
          {% if cuisine %}
            <small>
              <a href="{{ cuisine.url | relative_url }}">{{ cuisine.name }}</a>
            </small>
          {% endif %}
          {% if page.tags %}
            {% for tag in page.tags %}
              <small>
                <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a>
              </small>
            {% endfor %}
          {% endif %}
        </div>
        <h1>{{ page.title }}</h1>
        <p>{{ page.excerpt }}</p>
    </div>
    </div>
    <div class="recipe__image">
      <div class="imageWrapper">
        <img
          src="{{ page.image | prepend: site.baseurl }}"
          alt="{{ page.title }}"
          title="{{ page.title }}"
          width="1600"
          height="1200"
        />
      </div>
    </div>
  </header>

  <article class="grid recipe__instructions" x-data="{ ingredients: true, method: (window.innerWidth > 992), activeButton: (window.innerWidth > 992 ? 2 : 1) }" @resize.window="width = (window.innerWidth > 0) ? window.innerWidth : screen.width; if (width > 992) { ingredients = true, method = true, activeButton = 2 } else { ingredients = true, method = false, activeButton = 1 }">
    <div class="recipe__toggle">
      <button @click="ingredients = true; method = false; activeButton = 1" :class="{ 'active': activeButton === 1 }">Ingredients</button>
      <button @click="ingredients = false; method = true; activeButton = 2" :class="{ 'active': activeButton === 2 }">Method</button>
    </div>
    <div class="recipe__ingredients" x-show="ingredients">
      <div class="container">
        <h3>Ingredients</h3>
        {{ site.data.ingredient }}
      </div>
    </div>
    <div class="recipe__method" x-show="method">
      <div class="container">
        <h3>Method</h3>
        {{ site.data.method }}
      </div>
    </div>    
  </article>

</section>
