html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

html[data-theme="dark"] body {
  background-image: url(/assets/images/pattern-dark.svg);
}

body {  
  background-image: url(/assets/images/pattern-light.svg);
  min-height: 100vmin;
}

ul {
  padding-inline-start: calc((var(--spacing)) * 1.33);
}

ol {
  padding-inline-start: calc((var(--spacing)) * 2);
}

b,
strong {
  font-weight: 600;
}

main {
  address,
  blockquote,
  dl,
  figure,
  form,
  ol,
  p,
  pre,
  table,
  ul {
    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 1.5rem;
    }
  }
}

/* content */

body > main {
  padding-top: calc((var(--nav-element-spacing-vertical) * 2) + calc(var(--font-size) * 1.5));
  margin: 0;

  section {
    header {
      padding-top: 0;
      padding-bottom: var(--block-spacing-vertical);

      @media screen and (min-width: 576px) {
        padding-bottom: calc(var(--block-spacing-vertical) / 2);
      }

      h1 {
        line-height: 1.1em;
        margin: 0;
        padding: 0;
      }

      p {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  article {
    margin: calc(var(--block-spacing-vertical) / 2) 0;
    padding: calc(var(--block-spacing-vertical) / 2)
      var(--block-spacing-horizontal);
    overflow: hidden;

    p {
      color: var(--contrast);
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.masonry {
  column-count: 1;
  column-gap: 0;
  counter-reset: item-counter;
  margin-left: calc(var(--spacing) * -1);
  margin-right: calc(var(--spacing) * -1);

  @media screen and (min-width: 768px) {
    column-count: 2;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (min-width: 1536px) {
    column-count: 3;
  }
  
  @media screen and (min-width: 2000px) {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.masonry__item {
  box-sizing: border-box;
  break-inside: avoid;
  padding: calc(var(--spacing) * 1);

  article {
    margin: 0;
  }
}

footer,
header,
main > section {
  --block-spacing-vertical: 4rem;
  margin: 0;
  padding: var(--block-spacing-vertical) 0;
}
@media (min-width: 576px) {
  footer,
  header,
  main > section {
    --block-spacing-vertical: 4rem;
  }
}
@media (min-width: 768px) {
  footer,
  header,
  main > section {
    --block-spacing-vertical: 5rem;
  }
}
@media (min-width: 992px) {
  footer,
  header,
  main > section {
    --block-spacing-vertical: 6rem;
    --demo-height: calc(9rem + 488px);
  }
}
@media (min-width: 1200px) {
  footer,
  header,
  main > section {
    --block-spacing-vertical: 7rem;
    --demo-height: calc(10.5rem + 540px);
  }
}

/* footer */

footer {
  background-color: var(--background-color);
}
