.recipe {
  padding: 0;

  article {
    grid-column-gap: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}

.recipe__header {
  background-color: var(--muted-border-color);
  grid-column-gap: 0;
  padding: 0;
}

.recipe__description {
  border-right: solid 2px var(--muted-border-color);
  display: grid;
  place-content: center;
  padding: 2rem;

  @media screen and (min-width: 992px) {
    padding: 4vw;
  }

  .container {
    max-width: 40rem;
    padding: 0;
  }
}

.recipe__image {
  display: grid;
  order: -1;
  padding: 0;

  @media screen and (min-width: 992px) {
    order: unset;
  }

  .imageWrapper {
    aspect-ratio: 1 / 1;

    @media screen and (min-width: 1200px) {
      aspect-ratio: 4 / 3;
    }

    img {
      width: 0px;
      height: 0px;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}

.recipe__toggle {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 0 var(--muted-border-color);

  @media screen and (min-width: 992px) {
    display: none;
  }

  button {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    color: var(--primary);
    font-weight: 600;
    margin: 0;
    outline: none;
    width: auto;

    &:not(.active) {
      color: var(--muted-color);
    }

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }
}

.recipe__ingredients,
.recipe__method {
  padding: 2rem;

  @media screen and (min-width: 992px) {
    padding: 6vw 3vw;
  }

  .container {
    max-width: 40rem;
    padding: 0;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }
}

.recipe__ingredients {
  
  li {
    margin-bottom: 0;
    padding: 0 0 calc(var(--typography-spacing-vertical) * 0.5) 0;

    &:not(:first-of-type) {
      margin-top: calc(var(--typography-spacing-vertical) * 0.5);
    }

    &:not(:last-of-type) {
      border-bottom: dashed 2px var(--muted-border-color);
    }
  }
}

.recipe__method {
  counter-reset: step;

  @media screen and (min-width: 992px) {
    border-left: solid 2px var(--muted-border-color);
  }

  li {
    counter-increment: step;
    padding-bottom: calc(var(--typography-spacing-vertical) * 0.5);

    &:not(:first-of-type) {
      margin-top: calc(var(--typography-spacing-vertical) * 0.5);
    }
    
    &:not(:last-of-type) {
      border-bottom: dashed 2px var(--muted-border-color);
    }

    &::before {
      content: "Step " counter(step) ".";
      display: block;
      color: var(--h4-color);
      margin-bottom: calc(var(--typography-spacing-vertical) * 0.25);
    }
  }
}
